.bg {
    /* position: absolute; */
    width: 100%;
    height: 100%
}

.bg::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    background-attachment: fixed;
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    height: 100vh;
    opacity: .5;
}

a {
    color: rgb(66, 165, 245);
    text-decoration: none;
}

.huli-image-normal {
    width: 500px;
    max-width: 90%;
}