:root {
    --background-color: ;
}

body {
    background-color: var(--background-color);
}

card {
    display: block;
    margin-bottom: 20px;
}

.child {
    margin: 10px !important;
}

.bg {
    /* position: absolute; */
    width: 100%;
    height: 100%
}

.bg::before {
    content: '';
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 30vw;
    opacity: .5;
    z-index: -1;
}

#main {
    margin-top: 7%;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 20px;
}

.mdui-select-menu-item {
    height: 48px;
    padding: 0 16px;
    line-height: 48px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a {
    color: rgb(66, 165, 245);
    text-decoration: none;
}

.huli-image-normal {
    width: 500px;
    max-width: 90%;
}

.huli-button-blue {
    font-size: 20px;
    border: 4px;
    border-color: deepskyblue;
    color: deepskyblue;
}

.snackbar-me {
    text-align: right;
    background-color: rgb(18, 183, 245);
    color: white;
    padding: 8px;
    border-radius: 9%;
}

.snackbar-bot {
    text-align: right;
    background-color: rgb(229, 227, 225);
    padding: 8px;
    border-radius: 9%;
}